{% extends 'tureview/base.html' %}
{% load static %}

{% block title %}course {{ course.id }} {% endblock %}

{% block content %}

<!-- section voor laag 1-->
<section class="page-section background">
  <!-- section voor laag 2-->
    <div class="container.course">
      <div class="row.course">
              <div class="coursedescription">
                <div class="section-heading mb-4">
                    <div>
                      <span class="tbig">{{course.id}} {{ course.name }}</span>
                      <span class="tbig" style="float: right;"><span class="tsmall">average rating:</span> {{ course.getAverage }} </span>
                    </div>
                    <div>
                      <span class="faculty"> {{ course.get_faculty_display }}</span>
                      </div>
                    <div>
                      {{course.descriptionLong}}
                    </div>
                  </div>
            </div>
            <div class="aligncenter"
          </div><a class="btn btn-primary btn-xl center" href="review">Write your own review</a>
        </div>
    </div>
  <section style="width:100%; padding:5px;">
    <!-- accordion voor laag 3.1-->
      {% for review in reviews %}
      <div class="whitebox">
            <div class="cta-inner rounded">
              <div class="section-heading mb-4">
                  <div>
                    <span class="tbig">{{ review.reviewShort }}</span>
                    <span class="tbig" style="float: right;"><span class="tsmall">overall score:</span> {{review.ratingOverall}} </span>
                  </div>
                  <div>
                    <span class="tsmall">User, 1st year course, faculty:IEIS (HARDCODED)</span>
                    <span class="tsmall" style="float: right;"> {{ review.date }} </span>
                  </div>
                  <div>
                    <div id="flip"> click for more
                    </div>
                    <div id="panel"> {{ review.reviewLong }}
                    </div>
                  </div>
                  <div>
                    <span class="tsmall" style="float: right;"> {{review.thumbsUp.count}} </span>
                    <button class="btn btn-primary thumbsUp" id="thumbsUp" style="float: right;">
                      Thumbs Up!
                    </button>
                    <span class="tsmall" style="float: right;"> {{review.thumbsDown.count}} </span>
                    <button class="btn btn-primary thumbsDown" id="thumbsDown" style="float: right;">
                      Thumbs Down!
                    </button>
                  </div>
                </div>
          </div>
        </div>
        <p> {{ course.descriptionLong }}</p>
        {% for review in reviews %}
        <div class="row">
            <div class="col-xl-9 mx-auto">
              <div class="cta-inner text-center rounded">
                <h5>{{ review.reviewShort }}</h5>
                <div>Rating: {{review.ratingOverall}}</div>
                <p>{{ review.reviewLong }}</p>
                <p>By <a href="{% url 'userprofile' username=review.student %}">{{ review.student.user.username }}</a><p>
                <p>date: <b>{{ review.date }}</b></p>
                <p id="thumbsUpText">thumbs up: <b id="thumbsUpCount">{{ review.thumbsUp.count }}</b></p>
                <p id="thumbsDownText">thumbs down: <b id="thumbsDownCount">{{ review.thumbsDown.count }}</b></p>
                {% if request.user.is_authenticated %}
                <button class="btn btn-primary thumbsUp" id="thumbsUp">
                  {% if review.up == True %}
                    <i class="fa fa-thumbs-up active" style=aria-hidden="true">UP ACTIVE</i>
                    <i class="fa fa-thumbs-o-up inactive" style="display: none;" style=aria-hidden="true">UP INACTIVE</i>
                  {% else %}
                    <i class="fa fa-thumbs-up active" style="display: none;" style=aria-hidden="true">UP ACTIVE</i>
                    <i class="fa fa-thumbs-o-up inactive" style=aria-hidden="true">UP INACTIVE</i>
                  {% endif %}
                </button>
                <button class="btn btn-primary thumbsDown" id="thumbsDown">
                  {% if review.down == True %}
                    <i class="fa fa-thumbs-down active" style=aria-hidden="true">DOWN ACTIVE</i>
                    <i class="fa fa-thumbs-o-down inactive" style="display: none;" style=aria-hidden="true">DOWN INACTIVE</i>
                  {% else %}
                    <i class="fa fa-thumbs-down active" style="display: none;" style=aria-hidden="true">DOWN ACTIVE</i>
                    <i class="fa fa-thumbs-o-down inactive" style=aria-hidden="true">DOWN INACTIVE</i>
                  {% endif %}
              </button>
                <input type="hidden" id="review-pk" value="{{ review.pk }}" />
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
            {% endfor %}
  </section>
</section>
<script src="{% static 'javascript/course.js' %}" defer></script>
{% endblock %}
