{% extends 'tureview/base.html' %}
{% load static %}

{% block title %}course {{ course.id }} {% endblock %}

{% block content %}

<!-- section voor laag 1-->
<section class="page-section background">
  <!-- section voor laag 2-->
    <div class="container.course">
      <div class="row.course">
              <div class="coursedescription">
                <div class="section-heading mb-4">
                    <div>
                      <span class="tbig">{{course.id}} {{ course.name }}</span>
                      <span class="tbig" style="float: right;"><span class="tsmall">average rating:</span> {{ course.getAverage }} </span>
                    </div>
                    <div>
                      <span class="faculty"> {{ course.get_faculty_display }}</span>
                      </div>
                    <div>
                      {{course.descriptionLong}}
                    </div>
                  </div>
            </div>
            <div class="aligncenter"
          </div><a class="btn btn-primary btn-xl center" href="review">Write your own review</a>
        </div>
    </div>
  <section style="width:100%; padding:5px;">
    <!-- accordion voor laag 3.1-->
      {% for review in reviews %}
      <div class="whitebox">
            <div class="cta-inner rounded">
              <div class="section-heading mb-4">
                  <div>
                    <span class="tbig">{{ review.reviewShort }}</span>
                    <span class="tbig" style="float: right;"><span class="tsmall">overall score:</span> {{review.ratingOverall}} </span>
                  </div>
                  <div>
                    <span class="tsmall">User, 1st year course, faculty:IEIS (HARDCODED)</span>
                    <span class="tsmall" style="float: right;"> {{ review.date }} </span>
                  </div>
                  <div>
                    <div id="flip"> click for more
                    </div>
                    <div id="panel"> {{ review.reviewLong }}
                    </div>
                  </div>
                  <div>
                    <span class="tsmall" style="float: right;"> {{review.thumbsUp.count}} </span>
                    <button class="btn btn-primary thumbsUp" id="thumbsUp" style="float: right;">
                      Thumbs Up!
                    </button>
                    <span class="tsmall" style="float: right;"> {{review.thumbsDown.count}} </span>
                    <button class="btn btn-primary thumbsDown" id="thumbsDown" style="float: right;">
                      Thumbs Down!
                    </button>
                  </div>
                </div>
          </div>
        </div>
      {% empty %}
      <div class="whitebox">
        <div class="cta-inner rounded">
          <div class="section-heading mb-4">
            <div>
              <span class="tbig">no reviews</span>
            </div>
          </div>
        </div>
      </div>
            {% endfor %}
  </section>
</section>
<script src="{% static 'javascript/course.js' %}" defer></script>
{% endblock %}
