{% extends 'tureview/base.html' %}
{% load static %}

{% block content %}
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <h1>Welcome to TUreview</h1>
      <p>Korte uitleg van wat de bedoeling is van deze site. Er komt hier een uitleg, met search button voor vakken eventueel de hoogst gerate vakken hieronder weergeven voor de funsies </p>
      <a class="btn btn-primary btn-xl" href="search.html">Click to search for a course</a>
    </div>
  </div>
</section>
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <h1>Welcome to TUreview</h1>
      <p>Korte uitleg van wat de bedoeling is van deze site. Er komt hier een uitleg, met search button voor vakken eventueel de hoogst gerate vakken hieronder weergeven voor de funsies </p>
      <a class="btn btn-primary btn-xl" href="search.html">Click to search for a course</a>
    </div>
  </div>
</section>
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <h1>Welcome to TUreview</h1>
      <p>Korte uitleg van wat de bedoeling is van deze site. Er komt hier een uitleg, met search button voor vakken eventueel de hoogst gerate vakken hieronder weergeven voor de funsies </p>
      <a class="btn btn-primary btn-xl" href="search.html">Click to search for a course</a>
    </div>
  </div>
</section>
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <h1>Welcome to TUreview</h1>
      <p>Korte uitleg van wat de bedoeling is van deze site. Er komt hier een uitleg, met search button voor vakken eventueel de hoogst gerate vakken hieronder weergeven voor de funsies </p>
      <a class="btn btn-primary btn-xl" href="search.html">Click to search for a course</a>
    </div>
  </div>
</section>
{% endblock %}
