{% extends 'tureview/base.html' %}
{% load static %}

{% block title %} Home {% endblock %}

{% block content %}
<!-- This section will give a small explanation with just text and a button to go to search for a course -->
<section class="page-section cta">
  <div class="container">
    <div class="row center">
      <h1 class="center">Welcome to TuReview</h1>
      <p class="center">The TuReview helps you what course to choose! By giving access to peer reviews you can filter out the right course for you! The webapp also gives the opportunity to give a review yourself. </p>
      <a class="btn btn-primary btn-xl center" href="search.html">Click to search for a course</a>
    </div>
  </div>
</section>

<!-- This section will show a video of us with the application -->
<section class="page-section cta">
  <div class="container">
    <div class="row center">
      <h1 class="center">Help video</h1>
      <p class="center" width="100%"> here we show a video with explanation for how to use this application </p>
      <iframe class="center" width="560" height="315" src="https://www.youtube.com/embed/xOakg4gV69A" frameborder="0"
              allow="autoplay; encrypted-media" allowfullscreen controls>Video not supported</iframe>


    </div>
  </div>
</section>

  <!-- This section is the three best rated courses in a list -->
  <section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <a href="{% url 'course' code=topcourses.0.id %}">
            <div class="cta-innerhover text-center rounded">
              <h2 class="mb-4 text-center centralize">
                <span class="tcbig uppercase">Best rated course:</span></br>
                <span class="tcbig">{{ topcourses.0.name }}</span></br>
                <span class="text-uppercase text-expanded tcbigger coursecode">{{ topcourses.0.id }}</span>
              </h2>
              <div class="float-block">
                <p class="tbig gradeblock">{{ topcourses.0.getAverage }}</p>
                <p class="tcsmaller">review amount: {{ topcourses.0.reviewNumber }}</p>
              </div>
              <p class="mb-0 tcsmall" > Short description:</p>
              <p class="italic tcsmall" >{{ topcourses.0.descriptionShort }}</p>
              <p class="tcgrey tcsmall"> {{ topcourses.0.faculty }} </p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <a href="{% url 'course' code=topcourses.1.id %}">
            <div class="cta-innerhover text-center rounded">
              <h2 class="centralize mb-4 text-center">
                <span class="tcbig uppercase">Second best rated course:</span></br>
                <span class="tcbig">{{ topcourses.1.name }}</span></br>
                <span class="text-uppercase text-expanded tcbigger">{{ topcourses.1.id }}</span>
              </h2>
              <div class="float-block">
                <p class="tbig gradeblock">{{ topcourses.1.getAverage }}</p>
                <p class="tcsmaller">review amount: {{ topcourses.1.reviewNumber }}</p>
              </div>
              <p class="mb-0 tcsmall" > Short description:</p>
              <p class="italic tcsmall" >{{ topcourses.1.descriptionShort }}</p>
              <p class="tcgrey tcsmall"> {{ topcourses.1.faculty }} </p>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <a href="{% url 'course' code=topcourses.2.id %}">
            <div class="cta-innerhover text-center rounded">
              <h2 class="mb-4 text-center centralize">
                <span class="tcbig uppercase">Third best rated course:</span></br>
                <span class="tcbig">{{ topcourses.2.name }}</span></br>
                <span class="text-uppercase text-expanded tcbigger">{{ topcourses.2.id }}</span>
              </h2>
              <div class="float-block">
                <p class="tbig gradeblock">{{ topcourses.2.getAverage }}</p>
                <p class="tcsmaller">review amount: {{ topcourses.2.reviewNumber }}</p>
              </div>
              <p class="mb-0 tcsmall" > Short description:</p>
              <p class="italic tcsmall" >{{ topcourses.2.descriptionShort }}</p>
              <p class="tcgrey tcsmall"> {{ topcourses.2.faculty }} </p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
