{% extends 'tureview/base.html' %}
{% load static %}
{% load costum_filters %}
{% block title %} Profile {{ user.username }} {% endblock %}

{% block content %}
<section class="page-section cta">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <h1 class="username" ><i class="user fa fa-user" aria-hidden="true"></i><br><br>  {{ user.username }} </h1>
          <p class="userinfo">
            <i>apache</i> <br> <!-- male/female not working -->
            <b>Bachelor: </b> {{ student.get_major_display }} <br>
            <b>Start year: </b> {{ student.startYear }} <br>
            <b>Received thumbs up: </b> {{ upTotal }} <br> <!-- not working -->
            <b>Received thumbs down: </b> {{ downTotal }} <br> <!-- not working -->
            <b>Total reviews: </b> {{ reviews.count }} <br>
          </p>
        </div>
        <div class="row">
          <div class="col-12">
            <h1 class="userreview">Reviews of {{ user.username }} </h1>
          </div>
          {% for review in reviews %}
          <div class="whitebox">
            <div class="cta-inner rounded">
              <div class="section-heading mb-4">
                <table style="border-collapse: collapse; width: 100%;">
                  <colgroup>
                     <col span="1" style="width: 15%;">
                     <col span="1" style="width: 70%;">
                     <col span="1" style="width: 15%;">
                  </colgroup>
                  <tr>
                    <th class="tbig" colspan="2">{{ review.timeslot.course }}</th>
                    <th class="tbig" style="text-align: right;">{{review.ratingOverall}}</th>
                  </tr>
                  <tr>
                    <td class="tbig" colspan="2">{{ review.reviewShort }}</td>
                    <td class="tsmall" style="text-align: right; overflow: visible;" colspan="2">{{ review.date }}</td>
                  </tr>
                </table>
                <div>
                  <div class="tsmall" id="panel" style="display:none;">started this course as a {{ review.timeslot.year|yearStudent:review.student.startYear }} year student <br> from: {{ review.student.get_major_display }}</br></br>
                    {{ review.reviewLong }}
                  </div>
                  <div id="flip">

                    <div class="aligncenter">
                      <button class="btn btn-primary showMore">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        Show more
                      </button>
                      <button class="btn btn-primary showLess" style="display: none;">
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                        Show less
                      </button>
                    </div>
                  </div>
                </div>
                <div class="aligncenter">
                  <span class="tsmall" id="thumbsUpCount"> {{review.thumbsUp.count}} </span>
                  {% if not request.user.is_authenticated %}<a href="{% url 'login' %}">{% endif %}
                  <button class="btn btn-primary thumbsUp" id="thumbsUp">
                    {% if review.up == True %}
                    <i class="fa fa-thumbs-up active" style=aria-hidden="true"></i>
                    <i class="fa fa-thumbs-o-up inactive" style="display: none;" style=aria-hidden="true"></i>
                    {% else %}
                    <i class="fa fa-thumbs-up active" style="display: none;" style=aria-hidden="true"></i>
                    <i class="fa fa-thumbs-o-up inactive" style=aria-hidden="true"></i>
                    {% endif %}
                  </button>
                  {% if not request.user.is_authenticated %}</a>{% endif %}
                  <span class="tsmall" id="thumbsDownCount"> {{review.thumbsDown.count}} </span>
                  {% if not request.user.is_authenticated %}<a href="{% url 'login' %}">{% endif %}
                  <button class="btn btn-primary thumbsDown" id="thumbsDown">
                    {% if review.down == True %}
                    <i class="fa fa-thumbs-down active" style=aria-hidden="true"></i>
                    <i class="fa fa-thumbs-o-down inactive" style="display: none;" style=aria-hidden="true"></i>
                    {% else %}
                    <i class="fa fa-thumbs-down active" style="display: none;" style=aria-hidden="true"></i>
                    <i class="fa fa-thumbs-o-down inactive" style=aria-hidden="true"></i>
                    {% endif %}
                  </button>
                  {% if not request.user.is_authenticated %}</a>{% endif %}
                  <input id="review-pk" type="hidden" value="{{ review.pk }}" ></input>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
</section>
<script src="{% static 'javascript/course.js' %}" defer></script>
<script>
  $.ajaxSetup({data: {
    csrfmiddlewaretoken: '{{ csrf_token }}'
  }});
</script>
{% endblock %}
