<!-- First base.html will be loaded and the block content will be placed in the base page -->
{% extends 'tureview/base.html' %}
{% load static %}

<!-- Used for creating nice forms -->
{% load widget_tweaks %}

<!-- Used for the title in base.html -->
{% block title %} Review {% endblock %}

{% block content %}
<section class="page-section background">
    <div class="container">
      <h1 class="tbig">Writing a review for WERKT NIET!{{review.timeslot.course.id}} {{ review.timeslot.course.name }}</h1>
      <form method="post" novalidate>
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}

        {% for field in form.visible_fields %}
          <div class="form-group">
            {{ field.label_tag }}

            {% if form.is_bound %}
              {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}
                  <div class="invalid-feedback" style="color: blue;">
                    {{ error }}
                  </div>
                {% endfor %}
              {% else %}
                {% render_field field class="form-control is-valid" %}
              {% endif %}
            {% else %}
              {% render_field field class="form-control" %}
            {% endif %}

            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
</section>
{% endblock %}
