<!-- First base.html will be loaded and the block content will be placed in the base page -->
{% extends 'tureview/base.html' %}
{% load static %}

<!-- Used for the title in base.html -->
{% block title %} Search {% endblock %}

{% block content %}
<section class="page-section background">
  <div class="container">
    <div class="row">

      <!-- this part is completely useless, is not shown on the page and gets an empty value, when displayed -->
      <div id="yearTemplate" style="display: none;">
        <span id="yName"></span>
        <span id="yQs"></span>
      </div>
      <span id="quartileTemplate" style="display: none;">
        <span id="qName"></span>
        <span id="qSlots"></span>
      </span>
      <!-- this is where the useless part stops -->

      <!-- This is the form above the results -->
      <form id="searchform" method="POST" class="full">
        <label for="idfield">Exact course ID: </label>
        <input id="idfield" class="rounded" name="courseID"><br>
        <p>When you do not know the exact ID, please use the filters below</p>

        <!-- below a drop down menu was made, can be seen in search.js document ready function -->
        <p class="expand">More filters</p>
        <div class="text whitebox rounded">
          <label for="facfield">Faculty: </label>
          <select id="facfield" name="fac">
            <option value="" selected="selected">any</option>
            {% for fac in faculties %}
            <option value="{{ fac.0 }}">{{ fac.1 }}</option>
            {% endfor %}
          </select><br>
          <label for="namefield">Name: </label>
          <input id="namefield"><br>
          <label for="yearfield">Year: </label>
          <input id="yearfield" name="year"><br>
          <label for="quartilefield">Quartile: </label>
          <select id="quartilefield" name="quartile">
            <option value="" selected="selected">any</option>
            {% for q in quartiles %}
            <option value="{{ q.0 }}">{{ q.1 }}</option>
            {% endfor %}
          </select><br>
          <label for="timeslotfield">Timeslot: </label>
          <select id="timeslotfield" name="timeslot">
            <option value="" selected="selected">any</option>
            {% for lt in letters %}
            <option value="{{ lt.0 }}">{{ lt.1 }}</option>
            {% endfor %}
          </select><br>
          <label for="minratingfield">Min. rating: </label>
          <input type="number" id="minratingfield" value="0" min="0" max="10" step="0.5"><br>

          <label for="sortfield">sort by: </label>
          <select id="sortfield" name="sort">
              <option value="id">ID</option>
              <option value="name">Name</option>
              <option value="rating">Rating</option>
              <option value="number">Number of reviews</option>
          </select>
      </div>
      <button type="reset" class="btn btn-primary btn-xl btn-search">reset</button>
      <button type="submit" class="btn btn-primary btn-xl btn-search ">submit</button>
      </form>

      <!-- place where the results will be posted due to search.js -->
      <div id="result" class="full"></div>
      <p id="noresults"> </p>

      <!-- This part is used for generating the results -->
      <div id="courseTemplate" style="display: none; margin-bottom:-50px;">
        <a class="whitebox" href="" id="link">
          <div class="cta-innerhover rounded">
            <div class="section-heading mb-4">
              <table style="border-collapse: collapse; width: 100%;">
                <colgroup>
                   <col span="1" style="width: 5%;">
                   <col span="1" style="width: 70%;">
                   <col span="1" style="width: 25%;">
                </colgroup>
                <tr>
                  <th class="tbig" colspan="2" id="cName"></th>
                  <th style="text-align: right; vertical-align: top;">
                    <table style="border-collapse: collapse; width: 100%;">
                      <tr class="tbig" style="text-align: right;"id="cAvgRat"> </tr>
                      <tr class="tsmall" style="text-align: right; font-weight: normal; text-transform:lowercase;"id="aReview"> </tr>
                    </table>
                  </th>
                </tr>
                <tr>
                  <td class="tsmall" id="cID"></a> </td>
                  <td class="tsmall" style="text-align: right; overflow: visible;" colspan="2" ></td>
                </tr>
                <tr>
                  <td class="tsmall" colspan="3" id="cShortDesc"></td>
                </tr>
                <tr>
                  <td class="tsmall" colspan="3" id="cYears"></td>
                </tr>
              </table>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
<script src="{% static 'javascript/search.js' %}" defer></script>

{% endblock %}
