{% extends 'tureview/base.html' %}
{% load static %}

{% block content %}
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <!--<html>
      <head>
          <title>tureview</title> -->
          <script src="{% static 'javascript/jquiry.js' %}" defer></script>
          <script src="{% static 'javascript/search.js' %}" defer></script>
      <!--</head>
      <body> -->

          <div id="courseTemplate" style="display: none;">
            <div class="container">
              <div class="row center">
                <h1 class="center">Welcome to TUreview</h1>
                <p class="center">Korte uitleg van wat de bedoeling is van deze site. Er komt hier een uitleg, met search button voor vakken eventueel de hoogst gerate vakken hieronder weergeven voor de funsies </p>
                <a class="btn btn-primary btn-xl center" href="search.html">Click to search for a course</a>
              </div>
            </div>
              <div id="cID"></div>
              <div id="cName"></div>
              <div id="cShortDesc"></div>
              <div id="cYears"></div>
          </div>
          <div id="yearTemplate" style="display: none;">
              <span id="yName"></span>
              <span id="yQs"></span>
          </div>
          <span id="quartileTemplate" style="display: none;">
              <span id="qName"></span>
              <span id="qSlots"></span>
          </span>

          <form id="searchform" method="POST">
              <label for="idfield">ID: </label>
              <input id="idfield" name="courseID"><br>

              <label for="facfield">Faculty: </label>
              <select id="facfield" name="fac">
                  <option value="" selected="selected">any</option>
                  {% for fac in faculties %}
                  <option value="{{ fac.0 }}">{{ fac.1 }}</option>
                  {% endfor %}
              </select><br>

              <label for="namefield">Name: </label>
              <input id="namefield"><br>

              <label for="yearfield">Year: </label>
              <input id="yearfield" name="year"><br>

              <label for="quartilefield">Quartile: </label>
              <select id="quartilefield" name="quartile">
                  <option value="" selected="selected">any</option>
                  {% for q in quartiles %}
                      <option value="{{ q.0 }}">{{ q.1 }}</option>
                  {% endfor %}
              </select><br>

              <label for="timeslotfield">Timeslot: </label>
              <select id="timeslotfield" name="timeslot">
                  <option value="" selected="selected">any</option>
                  {% for lt in letters %}
                      <option value="{{ lt.0 }}">{{ lt.1 }}</option>
                  {% endfor %}
              </select><br>

              <button type="submit" class="btn btn-primary btn-xl center">submit</button>
          </form>

          <div class="container">
            <div class="row">
              <div class="col-xl-9 mx-auto">
                <div class="cta-inner text-center rounded">
                  <div id="result">
                  </div>
                </div>
              </div>
            </div>
          </div>

      <!--
      </body>
      </html> -->
    </div>
  </div>
</section>

{% endblock %}
