<!-- First base.html will be loaded and the block content will be placed in the base page -->
{% extends 'tureview/base.html' %}
{% load static %}

<!-- Used for the title in base.html -->
{% block content %}
<section class="page-section cta">
    <div class="container">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <input type="submit" value="login" />
        </form>
        <a class="btn btn-primary btn-xl center" href="../register">Register</a>
    </div>
</section>
{% endblock %}
