body {
  font-family: 'Lora';
  background: rgba(216, 216, 216, 0.8);
  background-image: url("../img/bg4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;

}

button.res {
    background-color: #F75A5E;
    width: 100%;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway';
  width: 100%;
}
a:hover {
  text-decoration: none;
}
.whitebox {

width: 100%;
padding-right: 30px;
padding-left: 30px;
flex-wrap: wrap;
margin-left: auto !important;
margin-right: auto !important;
position: relative;
min-height: 1px;

}
h1{
  font-family: Raleway;
}

p {
  line-height: 1.75;
  width:100%;
  font-family: signika negative;
  color: black;
}

/* text is used in js, this will expand below for uitklapfunctie in forms*/
.text {
        display:none;
        width:100%;
        margin:15px 0px 15px 0px;
        padding:10px;
        border:1px solid #ccc;
        background-color:#FFF;
}
.container.course {
  width: 100%;
margin-right: auto;
margin-left: auto;
}
.row.course {
display: flex;
flex-wrap: wrap;
}
}
.expand {
        text-decoration:underline;
        cursor:hand;
        cursor:pointer;
}
/* and of used in search drop down menu*/

/* To make life easier*/
.background {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
}
.full {
  width:100%;
  font-family: signika negative;
  margin: 1rem;
  
}

#idfield{
  position:relative;
  width: 200px;
}
p.italic {
    font-style: italic;
}
.tcfgrey {
  color: rgb(255,255,255,0,3);
}
.tcgrey {
  color: rgb(64,64,64);
}
.tsmall {
  font-size: calc(8px + 0.4vmin);
}
.tbig {
  font-size: calc(10px + 2.1vmin);
}
.text-primary {
  color #e6a756 !important
}
.login{
  font-family: signika;
  display:inline-block;
  margin-bottom: 4px;
}
.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 3.6rem; 

}
.coursedescription {
    position: relative;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-left: 5px;
    width:100%;
    background-color: rgba(255, 59, 63, 1);
    border-style: none none solid none;
}
.aligncenter{
  text-align: center;
  width: 100%;
}
.bg-primary {
  background-color: #e6a756 !important;
}
.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
}
.btn-primary {
  background-color: #365158;
  border-color: #365158;
  font-weight: 400;
  font-family: signika;
  font-size: 16px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #365158;
  border-color: #365158;
  color: rgb(255, 59, 63);
}

.left{
  float:left;
  left:0;
  position: relative;
}
.right{
  float:right;
  right:0;
  position: relative;
}
.korter{
  width:auto;
}
/* end to make life easier*/


.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: signika;
}
.gradeblock {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: signika;
  margin-top: 20px;
  margin-bottom: 0px;
}
.footer {
  background-color: #365158;
  position: absolute;
  bottom: 0px;
  width:100%;
}
.py-5{
  padding-top: 2rem!important;
  padding-bottom: 2rem!important;
}

::before {
  position: relative;
  z-index: -1;
}
.cta {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(255, 59, 63, 0.8);
}
.cta-inner {
  position: relative;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
}
.cta-innerhover {
  position: relative;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
}
.cta-innerhover:hover {
  background-color: yellow;
}
.cta-inner:before {
  border-radius: 0.5rem;
  content: '';
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  border: 0.25rem solid rgba(255, 255, 255, 0.85);
}

.cta-inner-search{
  position:relative;
  padding: 3rem;
  margin: 0rem;
  background-color: white;
}

#facfield{
  width:200px;
}

#namefield{
  width:210px;
}

#yearfield{
  width: 220px;
}
#quartilefield{
  width: 193.5px;
}
#timeslotfield{
  width: 192px;
}
#minratingfield{
  width: 176px;
}
#sortfield{
  width: 204px;
}

.float-block {
  height: auto;
  width: 70px;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 5%;
  color: black;
}

/* used in home.html bottom section but besides that useless. */
.page-section {
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
}
.section-heading {
  text-transform: uppercase;
  color: black;
}
.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}
.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 200;
  font-family: Roboto;
}


/* navbar shizzles */
#mainNav {
  background-color: #365158;
  font-family: 'Raleway';
}
#mainNav .navbar-brand {
  color: #365158;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: 540;
  font-family: Raleway;
}
#mainNav .navbar-nav .nav-item.active .nav-link {
  color: rgb(255, 59, 63);
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
  }
 #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: rgb(255, 59, 63);
  }
}
