body {

  background: rgba(216, 216, 216, 0.8);
  background-image: url("../img/bg4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px;

}

.hide {
  display: none;
}
.ratingfloatleft {
  display:inline-block;
}

.clear {
  float: none;
  clear: both;
}
.rating {
    width: auto;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
    font-family: FontAwesome;
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: black;
    font-family: FontAwesome;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: #ffb600;
    font-family: FontAwesome;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: purple;
    font-family: font-Awesome;
}


button.res {
    background-color: #F75A5E;
    width: 100%;
    padding-right: 1px;
    padding-left: 1px;
    margin-right: auto;
    margin-left: auto;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Raleway';
  width: 100%;
}
a:hover {
  text-decoration: none;
}
.whitebox {

width: 100%;
padding-right: 1rem;
padding-left: 1rem;
flex-wrap: wrap;
margin-left: auto !important;
margin-right: auto !important;
position: relative;
min-height: 1px;


}
h1{
  font-family: raleway;
}

p {
  line-height: 1.75;
  width:100%;
  font-family: signika negative;
  color: black;
}

h6{
  font-family: signika negative;
  color:black;
  text-decoration:underline;
  cursor:hand;
  cursor:pointer;
  margin-bottom: 1rem;
}
/* login*/
.form-group{
  font-family: signika negative;
  margin-top: 1rem;
}
.login{
  font-family: signika;
  display:inline-block;
  margin-bottom: 4px;
  margin-left: 0rem!important;
  margin-right: 2rem;
}

/* text is used in js, this will expand below for uitklapfunctie in forms*/
.text {
        display:none;
        width:100%;
        margin:15px 0px 15px 0px;
        padding:10px;
        border:1px solid #ccc;
        background-color:#FFF;
}
.container.course {
width: 100%;
margin-right: auto;
margin-left: auto;
background-color: rgba(255, 255, 10, 0.9);

}
.row.course {
display: flex;
flex-wrap: wrap;
}
}
.expand {
text-decoration:underline;
cursor:hand;
cursor:pointer;
}
/* and of used in search drop down menu*/

/* To make life easier*/
.background {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
}
.signika{
  font-family: signika;
}
.full {
  width:100%;
  font-family: signika negative;
  margin: 1rem;
}
.margin{
  margin-top: 1rem;
  margin-bottom:1rem !important;
}
#idfield{
  position:relative;
  width: 200px;
}
p.italic {
    font-style: italic;
}
.tcfgrey {
  color: rgb(255,255,255,0,3);
}
.tcgrey {
  color: rgb(64,64,64);
}
.tsmall {
  font-size: calc(8px + 0.8vmin);
  text-transform: lowercase;
}
.tbig {
  font-size: calc(10px + 2.1vmin);
  text-transform: lowercase;
}
.uppercase {
  font-size: calc(10px + 2.1vmin);
  text-transform: uppercase;
}
.text-primary {
  color #e6a756 !important
}

.centralize {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  text-transform: uppercase;
  color: black;
}
.btn-xl {
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-top: 6px;
  
}
.btn-search{
  margin-bottom: 0rem!important;
  margin-left: 0rem!important;
  cursor:hand;
  cursor:pointer;
}
.btn-reset{
  font-size: 20px;
  margin:2px;
  color: white;
  background-color: #365158;
  border-color: #365158;
  cursor:hand;
  cursor:pointer;
}
.coursedescription {
    position: relative;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 5px;
    width:100%;
    margin-left:1rem;

}
.aligncenter{
  text-align: center;
  width: 100%;
}
.bg-primary {
  background-color: #e6a756 !important;
}
.btn {
  box-shadow: 0px 3px 3px 0px rgba(33, 37, 41, 0.1);
  cursor:hand;
  cursor:pointer;
}
.btn-primary {
  background-color: #365158;
  border-color: #365158;
  font-weight: 400;
  font-family: signika;
  font-size: 16px;
  margin:3px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #365158;
  border-color: #365158;
  color: rgb(255, 59, 63);
}


.left{
  float:left;
  left:0;
  position: relative;
}
.right{
  float:right;
  right:0;
  position: relative;
}
.korter{
  width:auto;
}
/* end to make life easier*/


.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: signika;
}
.coursecode{
  font-family: roboto;
}
.tcbig {
  font-size: calc(7px + 2.1vmin)
}

.tcbigger {
  font-size: calc(10px + 4vmin);
}

.tcsmall {
  font-size: calc(5px + 2.1vmin)
}
.tcsmaller {
  font-size: calc(1px + 1.6vmin)
}
.gradeblock {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: signika;
  margin-top: 20px;
  margin-bottom: 0px;
}
.footer {
  background-color: #365158;
  position: absolute;
  bottom: 0px;
  width:100%;
}
.py-5{
  padding-top: 2rem!important;
  padding-bottom: 2rem!important;
}

::before {
  position: relative;
  z-index: -1;
}
.cta {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
}
.cta-inner {
  position: relative;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #ccc;
}
.cta-innerhover {
  position: relative;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 20px;
  padding-left: 5px;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #ccc;
}
.cta-innerhover:hover {
  background-color: #90b3bb;
}

.cta-inner-search{
  position:relative;
  padding: 3rem;
  margin: 0rem;
  background-color: white;
}

/*search forms*/
#facfield{
  width:200px;
}
#namefield{
  width:210px;
}
#yearfield{
  width: 219.5px;
}
#quartilefield{
  width: 193.5px;
}
#timeslotfield{
  width: 191.5px;
}
#minratingfield{
  width: 175px;
}
#sortfield{
  width: 203.5px;
  height: 31px;
  margin-top: 0rem!important;
}

.float-block {
  height: auto;
  width: 10%;
  position: absolute;
  right: 0px;
  top: 0px;
  margin-right: 2%;
  color: black;
}

/* used in home.html bottom section but besides that useless. */
.page-section {
  width: 90%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
}
.section-heading {

  color: black;
  margin-left: 1rem;
  margin-right: 1rem;
}
.section-heading .section-heading-upper {
  display: block;
  font-size: 1rem;
  font-weight: 800;
}
.section-heading .section-heading-lower {
  display: block;
  font-size: 3rem;
  font-weight: 200;
  font-family: Roboto;
}


/* navbar shizzles */
.collapse{
  font-family: raleway;
  font-weight: 600;
}
.toggler{
  cursor:hand;
  cursor:pointer;
}

#mainNav {
  background-color: #365158;
  font-family: 'Raleway';
}
#mainNav .navbar-brand {
  color: #365158;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: white;
  font-weight: 540;
  font-family: Raleway;
}
#mainNav .navbar-nav .nav-item.active .nav-link {
  color: rgb(255, 59, 63);
}

@media (min-width: 992px) {
  #mainNav .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
  }
 #mainNav .navbar-nav .nav-item.active .nav-link:hover {
    color: rgb(255, 59, 63);
  }
}

/*profile*/
.user{
  font-size: 200px!important;
  border: solid;
  border-radius: 6px;
  padding: 1rem 3rem 1rem 3rem;
  position: relative;
  display: block;
  color: #365158;
  background-color: white;
}
.username{
  font-family: raleway;
  font-weight: 400px;
  font-size: 28px;
  margin-top: 4rem;
  text-align: center;
  color: #365158;
}
.userinfo {
  text-align: center;
}
.userreview{
  font-size: 28px;
  margin-top: 4rem;
  margin-left: 1rem;
}
.link-course{
  color: #2d3d3f;
  
}
.link-course:hover{
  color: #3e6d75;
  text-decoration: underline;
}
.rating{

}
.stars{

}