@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
/* Ratings widget */
.rate {
    width: 180px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}

.rate > span {
    padding: 0px;
    margin: 0px;
}
/* Hide radio */
.rate > span > input {
    display: none;
}
.rate > span > label {
    margin: 0;
    position: relative;
    width: 1.1em;
    color: black;
    display: inline-block;
    font-size: 1.1rem;
    padding: 0 0;
    cursor: pointer;
    font-family: FontAwesome;
}
/* The star of the show */
.rate > span > input:checked + label {
    color: black;
}
/* Zero stars rating */
.rate > span > input:not(:checked) + label {
    color: red;
}
