{% load static %}

<span>
    <div class="rate">
      <span>
        <input type="radio" id="rating8{{widget.name}}" name="{{widget.name}}" value="2" />
        <label for="rating8{{widget.name}}" title="1 stars">&#xf005;</label>
      </span><span>
        <input type="radio" id="rating6{{widget.name}}" name="{{widget.name}}" value="4" />
        <label for="rating6{{widget.name}}" title="2 stars">&#xf005;</label>
      </span>
      <span>
        <input type="radio" id="rating4{{widget.name}}" name="{{widget.name}}" value="6" />
        <label for="rating4{{widget.name}}" title="3 stars">&#xf005;</label>
      </span><span>
        <input type="radio" id="rating2{{widget.name}}" name="{{widget.name}}" value="8" />
        <label for="rating2{{widget.name}}" title="4 stars">&#xf005;</label>
      </span><span>
        <input type="radio" id="rating0{{widget.name}}" name="{{widget.name}}" value="10" />
        <label for="rating0{{widget.name}}" title="5 stars">&#xf005;</label>
      </span>
    </div>
</span>
